@-ms-viewport{
    width:device-width
}

html{
    box-sizing:border-box;
    ms-overflow-style: scrollbar;
}
*,::after,::before{
    box-sizing:inherit
}

    

html,body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	cursor: url("https://i.imgur.com/DDcQgf4.png"), auto;
}


hr {
	max-width: 420px;
	color: #718093;
}

p {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.parallax {
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
	text-decoration: none;
	color: #5352ed;
	transition: all .2s ease-in;
}

a:hover {
	text-decoration: none;
	color: #192a56;
	transition: all .2s ease-in;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #09ff00;
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 18px;
    transition: all .2s ease-in;
}

#myBtn:hover {
    background-color: #09ff00;
    transition: all .2s ease-in;
}

/* Navbar */

.topnav {
	list-style-type: none;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 6px 13px -7px rgba(0,0,0,0.20);
    transition: all .2s ease-in;
    font-weight: 700;
    text-transform: uppercase;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #3498db;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  div .max-width {
    max-width: 60%;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* End Navbar */

#head {
	background-image: url("https://i.imgur.com/gWd0M39.png");
	margin: 0;
	padding: 222px 0px 222px 0px;
	text-align: center;
	color: rgb(255, 255, 255);
}

#head h1 {
	font-size: 55px;
	font-weight: 700;
	text-transform: uppercase;
}

#head h3 {
	font-size: 22px;
	text-transform: uppercase;
}

#about {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#about h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#about .features {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
}

#about .feature {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#about h2 {
	margin-top: 5px;
	font-size: 20px;
}

#about p {
	margin-top: 3px;
	font-size: 18px;
}

#banner {
	background-image: url("https://i.imgur.com/1hFA7hv.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner2 {
	background-image: url("https://i.imgur.com/DoXkL9Z.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner3 {
	background-image: url("https://i.imgur.com/AI3vHO8.png");
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#banner2 h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner2 h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#banner3 h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner3 h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#staff {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#staff h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#staff h2 {
	margin-top: 5px;
	font-size: 20px;
}

#staff p {
	margin-top: 3px;
	font-size: 18px;
}

#staff .stafflist {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
}

#staff .staffblock {
	transform: none;
	transition: all .2s ease-in;
	margin-bottom: 5px;
}

#staff .staffblock:hover {
	transform: scale(1.1,1.1);
	transition: all .2s ease-in;
}

#gamemodes {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#gamemodes h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#gamemodes h2 {
	margin-top: 5px;
	font-size: 20px;
}

#gamemodes p {
	margin-top: 3px;
	font-size: 18px;
}

#gamemodes .gray {
	background-color: #c0c0c0;
    padding: 0;
    margin: -10px;
}

#gamemodes .mode {
	margin: 15px;
	text-align: left;
	padding: 50px;
	max-width: 1280px;
}

#gamemodes .mode-inv {
	margin: 15px;
	text-align: right;
	padding: 50px;
	max-width: 1280px
}

@media screen and (min-width: 800px) {
	#gamemodes .img {
		margin: 15px;
		padding: 50px;
		max-width: 1280px
	}
}

@media screen and (max-width: 799px) {
	#gamemodes .img {
		padding: 50px 0px 50px 0px;
	}
}

#gamemodes .fixed-width {
	max-width: 1280px;
	margin: 0 auto;
}

#vote {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#vote h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#vote h2 {
	margin-top: 5px;
	font-size: 20px;
}

#vote p {
	margin-top: 3px;
	font-size: 18px;
}

#vote .votelist {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
	padding-bottom: 66px;
}

#vote .voteblock {
	transform: none;
	transition: all .2s ease-in;
}

.voteblock a {
	font-weight: 700;
}


footer {
	background-color: #11171e;
	color: white;
}

.footer {
	max-width: 1280px;
	margin: 0 auto;
	float: none;
	padding-top: 66px;
	padding-bottom: 66px;
}

.copyright-notice {
	color: #30343a;
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: center;
	transition: all .2s ease-in;
	cursor: default;
}

.copyright-notice:hover {
	color: white;
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: center;
	transition: all .2s ease-in;
}

@media screen and (min-width: 800px) {
	.res-img {
		width: 480px;
	}
}

@media screen and (max-width: 799px) {
	.res-img {
		width: 100%;	}
}

@media screen and (min-width: 800px) {
	.res-img-sm {
		height: 110px;
	}
}

@media screen and (max-width: 799px) {
	.res-img-sm {
		width: 100%;	}
}
.latest-news-section {
  overflow: hidden;
  display: block;
  clear: both;
  background: #131313;
  padding: 24px 0;
  position: relative;
}

.ln-title {
  position: absolute;
  height: 100%;
  width: 29%;
  left: 0;
  top: 0;
  text-align: right;
  padding-top: 24px;
  padding-right: 66px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #1e5a1e;
  z-index: 1;
}

.news-ticker {
  width: 71%;
  float: right;
  overflow: hidden;
  display: inline-block;
}

.news-ticker-contant .nt-item {
  margin-right: 35px;
  color: #fff;
  display: inline-block;
}

.news-ticker-contant .nt-item span {
  margin-right: 35px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 4px 20px;
}

.news-ticker-contant .nt-item span.new {
  background: #ff205f;
}

.news-ticker-contant .nt-item span.strategy {
  background: #4eae60;
}

.news-ticker-contant .nt-item span.racing {
  background: #694eae;
}

.title {
	color: grey;
  }


  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }


/* Three columns side by side */
.column {
	float: left;
	width: 12%;
	margin-bottom: 20px;
	padding: 0 30px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
  
  /* Add some shadows to create a card effect */
  .card {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
  }

  /* Some left and right padding inside the container */
  .container {
	padding: 0 16px;
  }

  .container h2 {
	margin-top: 5px;
	font-size: 10px;
}

.container p {
	margin-top: 5px;
	font-size: 12px;
}


  /* Clear floats */
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }

  table {
	border-spacing: 50px 15px;
  }


  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

  .center {
	margin-left: auto;
	margin-right: auto;
  }







/*PAGINA FIVEM*/

  .Home_page {
	height:100%;
	width:100vv;
	font-family:Poppins,sans-serif;
	margin:0;
	padding:0;
	background-color:#0b4d09;
	color:#fff;
	overflow:auto;
}

/*colore secondario*/
.Home_colore
{
	color:#7eff6d;
}

.Home_background 
{
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:50%;
	background-repeat:no-repeat;
	overflow-x:hidden;
	overflow-y:auto;
}

.Header_links 
{
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	overflow:hidden;
	width:100%;
}

.Header_logo 
{
	z-index:999;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

@media only screen and (max-width:680px)
{
	.Header_logo{margin:0 1rem}
	.Header_logo .Header_icon{display:none}
	.Header_logo .Header_logo1{margin:0}
}

.Header_logo .Header_icon 
{
		font-size:2.25rem;
		line-height:2.5rem;
		margin:0 3.5rem;
		transition:.5s;
}

.button
{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	border:2px solid #7eff6d;
	color:#fff;
	background-color:rgba(123, 247, 150, 0.178);
	box-shadow:10px rgba(37, 209, 46, 0.514);
	backdrop-filter:blur(4px);
	-webkit-backdrop-filter:blur(4px);
	padding:.375rem 2rem;
	font-family:Poppins,sans-serif;
	font-size:1.125rem;
	line-height:1.75rem;
	text-transform:uppercase;
	transition:.5s
}

.button:hover:not(.disabled)
{
	background-color:#158515;
	cursor:pointer
}

.Home_buttonBig
{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	border:2px solid #7eff6d;
	color:#fff;
	background-color:rgba(123, 247, 150, 0.178);
	box-shadow:10px rgba(37, 209, 46, 0.514);
	backdrop-filter:blur(4px);
	-webkit-backdrop-filter:blur(4px);
	padding:1.5rem 7rem;font-weight:500;
	font-family:Poppins,sans-serif;
	font-size:1.875rem;
	line-height:2.25rem;
	text-transform:uppercase;
	transition:.5s
}

.Home_buttonBig:hover
{
	background-color:#158515;
	cursor:pointer
}

@media only screen and (max-width:450px)
{
	.Home_buttonBig{padding:1rem 3rem;font-size:1.5rem}
}

.Header_logo1
{
	margin:0
}

.Header_logo1
{
	margin:0 2.5rem
}

.Home_main
{
	width:100%
}

.Home_main .Home_info
{
	position:relative;
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center
}

.Home_main .Home_info .Home_info2
{
	z-index:999;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	height:50%;
	gap:25rem
}

@media only screen and (max-width:1000px)
{
	.Home_main .Home_info .Home_info2{gap:18rem}
}

@media only screen and (max-width:900px)
{
	.Home_main .Home_info .Home_info2{flex-direction:column;height:100%;gap:0}
}

@media only screen and (max-width:400px)
{
	.Home_main .Home_info .Home_info2{gap:0}
	.Home_main .Home_info .Home_info2 .Home_infotext h1{font-size:1.6rem}
	.Home_main .Home_info .Home_info2 .Home_infotext p{font-size:1rem}
}

.Home_main .Home_info .Home_info2 .Home_infotext
{
	width:24rem;
	text-align:center;
	font-size:1.5rem;
	line-height:1
}

/*colore scritta homepage*/
.Home_main .Home_info .Home_info2 .Home_infotext h1
{
	margin:0;
	color: white;
}

.Home_main .Home_info .Home_info2 .Home_platforms
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:1.125rem;
	line-height:1.75rem
}

/*colore scritta fivem mlo*/
.Home_main .Home_info .Home_info2 .Home_platforms p
{
	color: white;
	cursor:pointer;
	border-left:2px solid #7eff6d;
	padding:0 .5rem
}

.Home_main .Home_info .Home_info2 .Home_platforms p:first-child{border:none}

/*colore scritta prodotti*/
.Home_smalltext{
	color: white;
	font-weight:300
}

.collaborations {
	background-color:#a0a0a0;
	border-top:4px solid #adffa2;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

.collaborations h1 {
	text-transform: uppercase;
	text-align:center;
	font-size:3.5rem;
	line-height:1;
	margin:0;
	color: white;
}

.collaborations .features {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 66px;
}

.collaborations .feature {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

.collaborations p {
	margin-top: 3px;
	font-size:1rem;
	color: white;
	padding:0 .5rem;
}

.affiliate {
	background-color:#ffffff;
	border-top:4px solid #adffa2;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

.affiliate h1 {
	text-transform: uppercase;
	text-align:center;
	font-size:3.5rem;
	line-height:1;
	margin:0;
	color: rgb(0, 0, 0);
}

.affiliate p {
	margin-top: 3px;
	font-size:1rem;
	color: rgb(0, 0, 0);
	padding:0 .5rem;
}




/*colore footer*/
.Footer_footer
{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(17,20,29,.541);
	color:#fff;
	border-top:2px solid #7eff6d;
	padding:2rem 0
}